// Any Bootstrap or FontAwesome-specific variables added here will overwrite the defaults.
@import "variable-overrides";
@import '../mixins';

@import '../../../static/bower_components/bootstrap-sass/assets/stylesheets/_bootstrap';
@import '../../../static/bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_mixins';
//or @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import '../../../static/bower_components/font-awesome-sass/assets/stylesheets/font-awesome';


@import 'calendar';

// Front-end SCSS goes here.

// Variables
$headerBg               : #000000;
$footerBg               : #000000;
$linkHover              : #79A0DB;
$linkFg                 : #FFFFFF;
$bodyBg                 : #FFFFFF;
$linkHoverBg            : #FFFFFF;
$colorBlue              : #428bca;
$textColor              : #333333;

// Breakins
$break-mobile                     : 320px;
$break-tablet                     : 768px;
$break-desktop                    : 992px;
$break-laptop                     : 1200px;

// Mixins
//@mixin relative($radius) {
//  position: relative;
//}




// General Layout
html, body {
  font-family: 'Open Sans', sans-serif;
  background:#fff;
  font-size: 100%;
}

body a {
  @include animate-effect(0.5s);
}

header {
  @include page-box;

  position: relative;
  background: $headerBg;
  padding: 1.5% 0;
  height: 130px;

  .wrapper {
    height: 90px;
    position: relative;
    vertical-align: top;
  }

}
footer {

  @include page-box;

  background: $footerBg;
  padding: 6% 0;
  .footer-box {
    .title {
      color: #fff;
      font-size: 1.1em;
      font-weight: 700;
      margin-bottom: 8%;
      text-transform: uppercase;
    }
  }

  .footer-box {
    .title {
      color: #fff;
      font-size: 1.1em;
      font-weight: 700;
      margin-bottom: 8%;
      text-transform: uppercase;
    }
    ul > li > a {
      color: #B8B6B6;
      font-size: 0.8125em;
      text-decoration: none;
      line-height: 2em;
    }
  }

  .news-letter-wrapper {

    .social-links {

      margin-top: 10px;
      position: relative;
      display: block;
      text-align: center;

      ul > li > a {
        color: #e2e2e2;
        font-size: 19px;
        text-decoration: none;
        line-height: 2em;
        &:hover {
          color: #e2e2e2;
          font-size: 19px;
        }
      }

    }

    .title {
      color: #fff;
      font-size: 1.1em;
      font-weight: 700;
      margin-bottom: 8%;
      text-transform: uppercase;
    }

    .input-group {
      input {
        padding: 20px 15px;
        outline: none;
        border: none;
        color: #202020;
        background: #fff;
        line-height: 1.5em;
        font-size: 0.8125em;
        border-bottom-left-radius: 0px;
        border-top-left-radius: 0px;

        //.border-right-radius(0px);
        //.border-left-radius(0px);
      }
      .input-group-btn {
        button {
          background: #c7c7c7;
          padding: 9px 19px;
          border: none;
          outline: none;
          cursor: pointer;
          line-height: 1.6em;
          color: #000;
          font-weight: 800;
          @include animate-effect(0.3s);
          border-bottom-right-radius: 0px;
          border-top-right-radius: 0px;
          &:hover {
            background: #222;
            color: #fff;
          }
        }
      }
    }


  }

}

.logo-wrapper {
  img {
    position: relative;
    padding-top: 17px;
  }
}

.nav-wrapper {
  margin-left: 40px;

  ul {
    margin-top: 46px;
    li > a {
      font-size: 0.8125em;
      font-weight: 600;
      padding: 5px 15px;
      text-transform: uppercase;
      color: $linkFg;
      &:hover, &:focus {
        color: $linkHover;
        background: $linkHoverBg;
        text-decoration: none;
      }
    }
  }

}

.social-wrapper {
  .first-layer {
    padding-top: 8px;
    .dropdown >  a {
      color: $linkFg;
      font-size: 13px;
      &:hover {
        text-decoration: none;
      }
    }
    .booking-link {
      font-size: 0.8125em;
      color: #FFF;
      font-weight: 600;
      text-transform: uppercase;
      padding: 5px 10px;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .second-layer {
    padding-top: 10px;
    a {
      > .fa {
        color: #e2e2e2;
        font-size: 19px;
      }
    }
  }
}

// Revolution Slider
.tp-banner{
  @include content-box;

  // Layer Styles
  .tp-caption {
    &.main-caption {
      font-size: 3.3em;
      text-transform: uppercase;
      font-weight: 800;
      line-height: 1.3em;
      color: #fff;
      &.with-color {
        padding: 8px 12px;
      }
      &.orange {
        color: #FFF;
        background: #a04606;
      }
    }
    &.description {
      font-size: 0.98em;
      padding: 8px;
      background: #fff;
      color: #000;
    }
  }

}

.page-title {
  padding-left: 20px;
  padding-top: 36px;
  h1 {
    font-weight: bold;
    margin-bottom: 0px;
  }
  p {
    font-size: 1.7em;
    color: #999;
  }
}

.activities-wrapper {
  @include page-box;
  padding-bottom: 20px;

  .title {
    color: #00527e;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 10px;
  }

  .item-wrapper {
    position: relative;
    display: block;

    > a {
      &:hover {
        text-decoration: none;
      }
    }

    .img-wrapper {

      overflow: hidden;
      @include page-box;

      > .mask {
        display: block;
        position: absolute;
        width: 125%;
        height: 125%;
        background: rgba(0,82,126,0.5);
        @include animate-effect(0.3s ease-in-out 0.6s);
        right: 0px;
        left: auto;

        @include transform-origin(100% 0%);
        @include transition-delay(0s);

        &.mask-2 {
          top:-125%;
          bottom: auto;
          left: 0px;
          right: auto;
          @include transform-origin(0% 100%);
        }

      }

      &:hover {

        > .mask {
          @include transform(rotate(33.5deg) translateX(1px));
          &.mask-2 {
            @include transform(rotate(33.5deg) translateX(-1px));
          }
        }

        > .caption-wrapper {
          @include transform(rotate(0deg) translatey(0px));
        }

      }
      img {
        width: 100%;
        display: block;
      }
      > .caption-wrapper {
        display: block;
        width: 100%;
        position: absolute;
        @include animate-effect(0.3s ease-in-out 0.6s);
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.9);

        @include transition-delay(0.3s);
        @include transform(rotate(-40deg) translatey(300px));

        opacity: 0.8;
        > h2, > p {
          display: block;
          width: 100%;
          color: #fff;
          text-align: center;
          position: relative;
          padding: 10px;
          font-size: 0.78em;
        }
        > h2 {
          border-bottom: 1px solid rgba(255,255,255,.2);
          text-transform: uppercase;
          font-size: 0.86em;
          margin: 5px 0 0;
        }
      }
    }
    .caption-wrapper {
      > h2 {
        color: $colorBlue;
        font-size: 1.2em;
        line-height: 1.3em;
      }
      > p {
        font-size: 0.92em;
        color: $textColor;
      }
    }
  }
}

.booking-form-wrapper {
  position: relative;
  display: block;
  margin-top: 16px;
  margin-bottom: 20px;
  margin-left: -48px;
  padding: 14px;
  background: #F4F4F4;
  border-radius: 3px;
  box-shadow: 0 2px 6px #696969;
  form > p {
    color: $colorBlue;
  }
  .form-group {
    display: inline-block;
    margin-bottom: 0px;
    .btn {
      width: 100%;
    }
  }

  .first-line {
    margin-bottom: 10px;
    @include equal-children('.form-group');
  }
  .second-line {
    margin-bottom: 10px;
    .group {
      display: inline-block;
      @include equal-children('.form-group');
      vertical-align: top;
      width: 37%;
      &:first-child {
        width: 62%;
        margin-right: 1%;
      }
      &:last-child {
        margin-left: 0%;
        .form-group:last-child {
          padding-left: 4px;
        }
      }
    }
  }
}

.slider-wrapper {
  @include page-box;
  @include wait-display;
}

.testimonials-wrapper {
  background: #F1F2F2;
  @include page-box;
  padding: 26px 0px;

  .trip-advisor {
    display: block;
    text-align: center;
    .img-wrapper {
      width: 320px;
      margin: 0px auto;
    }
  }

  .carousel-control {
    i {
      position: absolute;
      top: 20%;
      left: 42%;
    }

    background: #000 none repeat scroll 0 0;
    border-radius: 100px;
    display: inline-block;
    float: none;
    font-size: 15px;
    height: 25px;
    line-height: 20px;
    padding: 1px;
    position: relative;
    text-align: center;
    width: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    opacity: 1;
  }

  .carousel-inner {
    padding-top: 20px;
    padding-bottom: 30px;

    //> .carousel-indicators {
    //  bottom: -10px;
    //  > li {
    //    border-color: #A24600;
    //    &.active {
    //      background: #A24600;
    //    }
    //  }
    //}

    > .item {
      position: relative;
      text-align: center;
      @include animate-effect(0.3s);
      opacity: 0;

      &.active {
        opacity: 1;
      }

      > p {
        font-size: 1.725rem;
        font-family: 'Times New Roman',Arial,sans-serif;
        font-style: italic;
        color: #8f8f8f;
        text-align: center;
        position: relative;
        text-indent: 20px;
        line-height: 2.2rem;
        &:before {
          content: '\201C';
          font-family: "Georgia", serif;
          font-size: 4.8rem;
          position: relative;
          margin-right: 10px;
          margin-top: -25px;
          top: 25px;
        }
      }
      > small {
        font-size: 1rem;
        display: block;
      }
    }

  }
}

.body-wrapper {
  @include page-box;
  padding-top: 10px;

  .text-content {
    margin-bottom: 10px;
    @include page-box;
    color: $textColor;

    > .other-activities-header {
      color: #333;
      font-size: 1.2em;
      text-transform: uppercase;
      padding: 0 1%;
      margin-bottom: 2%;
    }

    > .title, > .subtitle {
      color: #555;
      margin-bottom: 20px;
      font-size: 1.5em;
      line-height: 1.2;
      font-weight: normal;
      margin-top: 0px;
      letter-spacing: -1px;
      text-transform: uppercase;
    }

    > .subtitle {
      font-size: 1.1em;
    }

    > p, > ul > li {
      color: #888;
      font-size: 0.85em;
      line-height: 1.5em;
      margin-bottom: 2%;

      &.intro {
        font-size: 0.85em;
        color: #555;
        line-height: 1.5em;
      }
    }

    > ul {
      li {
        margin-bottom: 8px;
      }
    }

    @include image-wrapper;

    .img-wrapper {
      margin-bottom: 20px;
    }

    &.activity {
      .title {
        color: #00527e;
        font-size: 1.6em;
        line-height: 120%;
        text-transform: uppercase;
        margin-bottom: 10px;
        font-weight: 700;
      }
      .sub-title {
        color: #333;
        font-size: 1.5em;
        margin-bottom: 1%;
        text-transform: uppercase;
      }
      p {
        color: #333;
        font-size: 0.8125em;
        line-height: 1.8em;
        margin-bottom: 0px;
      }
    }

  }

}

.box-trip-advisor {
  text-align: center;
  position: relative;
  border: 1px solid #589446;
  padding: 1px;
  display: block;
  margin: 20px auto 0;
  max-width: 140px;
}


.booking-response-wrapper {
  @include page-box;
  &.error {
    background: #F96B4B;
  }
  &.success {
    background: #9CC96B;
  }
  h3 {
    font-size: 1.2rem;
    margin: 0px;
    text-align: center;
    padding: 18px 10px;
    color: #F1F2F2;
  }
}

.side-pictures {
  @include image-wrapper;
  padding-top: 10px;
  > ul > li {
    @include content-box;
    margin-bottom: 20px;
    padding: 10px;
  }
  .photo-gallery {
    text-transform: uppercase;
    color: #444;
    font-size: 1.2rem;
  }
  > p {
    color: #888;
    font-size: 0.85em;
    line-height: 1.5em;
    margin-bottom: 2%;
  }
}

.upper-footer {
  background: #EBEBEB;
  text-align: center;
  padding: 20px 0px;
  .list-inline {
    margin: 10px 0px;
    > li {
      vertical-align: middle;
    }
  }
  h3 {
    font-size: 15px;
    text-align: center;
    margin: 0px;
    color: #555;
  }
  span {
    background: url("/images/sprites_translados.png") no-repeat;
    width: 66px;
    height: 50px;
    display: block;
    margin: 0px auto;

    &.transfer-service {
      background-position: -16px -8px;
      width: 67px;
    }
    &.horseback-activity {
      background-position: -27px -64px;
      width: 45px;
    }
    &.trek-hike-activity {
      background-position: -36px -121px;
      width: 28px;
    }
    &.energy-cycle {
      background-position: -34px -230px;
      width: 37px;
    }
  }
}

// Customize rev slider
.tparrows {
  background: none !important;
  border-radius: 0px;
  top: 40% !important;
  width: 72px !important;
  height: 128px !important;

  &.default {
    &:after {
      width: 72px;
      height: 128px;
      background: url("/images/img-sprite.png") no-repeat -10px -243px !important;
      position: absolute;
      content: ' ';
      left: 0px;
      right: auto;
    }
    &.tp-rightarrow {
      &:after {
        background-position: -105px -243px !important;
        right: 0px;
        left: auto;
      }
    }
  }
}

.shop-top {
  @include page-box;
  padding: 2% 0;
}

//.tp-leftarrow.default {
//
//
//
//  //background-position: -10px -243px !important;
//  //background-repeat: no-repeat !important;
//}

address {
  font-size: 0.83rem;
}

.share {
  position: relative;
  display: block;
  strong {
    display: block;
    color: #08080B;
    font-weight: 700;
    font-size: 0.8125em;
    padding-bottom: 0.5em;
    display: block;
    text-transform: uppercase;
    margin-bottom: 5px;
  }
  ul.list-inline {
    display: block;
    > li > a {
      display: block;
      outline: none;
      border: 1px solid #CACACA;
      background: #FFF;
      padding: 5px 10px;
      font-size: 0.85em;
      &:hover {
        text-decoration: none;
      }
      &.twitter:hover {
        color: #FFF;
        background-color: #00AAF0;
      }
      &.facebook:hover {
        color: #FFF;
        background-color: #435F9F;
      }
      &.google:hover {
        color: #FFF;
        background-color: #E04B34;
      }
      &.pinterest:hover {
        color: #FFF;
        background-color: #CE1F21;
      }

    }
  }
}
